@model IEnumerable<CleanArch.Application.ViewModels.CourseViewModel>
<div class="container body-content">
    <div class="row course-content">
        <table>
            <tr>
                <td>
                    name
                </td>
                <td>
                    desc
                </td>
                <td>
                    Image
                </td>
            </tr>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Description</td>
                    <td><img src="@course.ImageURL" height="250" width="230"></td>


                </tr>
            }
        </table>
    </div>
</div>